html {
    background-color: #e5e5e5;
    font-family: monospace;
    text-align: center;
}

.game-status {
    font-size: 2rem;
    padding: 50px 0;
}

.board {
    width: 640px;
    margin: auto;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    border: 1px solid #999;
    float: left;
    font-size: 4rem;
    line-height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
    height: 80px;
}

.square:focus {
    background: #e5e5e5;
}

.square-black {
    background-color: #ccc;
}
.square-white {
    background-color: white;
}
.square-highlighted {
    background-color: rgb(202, 228, 250);
}

.score,
.zobrist {
    font-size: 20px;
    padding-top: 10px;
}
